@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* --- PEGAR AL FINAL DE src/app/globals.css --- */

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 200s linear infinite;
  display: flex; /* Asegura que los elementos se pongan en fila */
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}








/* Agrega esta keyframe y clase a tu archivo global.css */
@keyframes bounce-in {
  0%, 100% {
    transform: translateY(0);
  }
  20%, 80% {
    transform: translateY(-5px);
  }
  40%, 60% {
    transform: translateY(-2px);
  }
}

.animate-bounce-in {
  animation: bounce-in 0.5s ease-out;
}