name: CI/CD Pipeline - Build & Push Docker Images

# ¿Cuándo se activa este robot?
on:
  push:
    branches: [ "main" ]
    # Solo se activa si modificas archivos en estas carpetas (ahorra recursos)
    paths:
      - 'backend/**'
      - 'frontend/**'
  workflow_dispatch: # Permite activarlo manualmente con un botón si quieres

jobs:
  # --- TRABAJO 1: CONSTRUIR BACKEND ---
  build-and-push-backend:
    runs-on: ubuntu-latest
    # Solo corre si hubo cambios en backend (o si es manual)
    if: |
      github.event_name == 'workflow_dispatch' ||
      contains(github.event.head_commit.modified, 'backend/')
    
    steps:
      - name: Descargar código
        uses: actions/checkout@v4

      - name: Iniciar sesión en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Construir y Subir Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          # Aquí usa tu secreto de usuario para etiquetar la imagen
          tags: ${{ secrets.DOCKER_USERNAME }}/archive-backend:latest, ${{ secrets.DOCKER_USERNAME }}/archive-backend:v1

  # --- TRABAJO 2: CONSTRUIR FRONTEND ---
  build-and-push-frontend:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'workflow_dispatch' ||
      contains(github.event.head_commit.modified, 'frontend/')

    steps:
      - name: Descargar código
        uses: actions/checkout@v4

      - name: Iniciar sesión en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Construir y Subir Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/archive-frontend:latest
          # AQUI ESTA LA MAGIA: Inyectamos las variables al construir
          build-args: |
            NEXT_PUBLIC_MP_PUBLIC_KEY=${{ secrets.NEXT_PUBLIC_MP_PUBLIC_KEY }}
            NEXT_PUBLIC_API_URL=${{ secrets.NEXT_PUBLIC_API_URL }}
            NEXT_PUBLIC_GOOGLE_CLIENT_ID=${{ secrets.NEXT_PUBLIC_GOOGLE_CLIENT_ID }}
            NEXT_PUBLIC_UBIGEO_API_URL=https://raw.githubusercontent.com/ernestorbar/peru-json/master/peru.json
            NEXT_PUBLIC_CACHE_KEY=ubigeo_data_cache_v1
